@import url(' ');

body {
    align-items: center;
    background: linear-gradient(45deg, #ffa2c7 0%,#6d0a3b 100%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
  }

li {
    font-family: 'Montserrat', sans-serif;
}