@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    --cor-de-fundo: #1E1E1E;
    --verde: #1b750b;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'caveat',sans-serif;
}
