@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
body {
    align-items: center;
    background: linear-gradient(rgb(197, 98, 255), rgb(98, 9, 150), white);
  }

li{
    font-family: Dancing Script;
}