@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Damion&family=Kaushan+Script&family=Marck+Script&family=Playball&display=swap');

:root{
    --cor-de-fundo: #7e008f;
    --roxo: #e887f5;
    --branco: #ffffff;
    --botao-ativo: #9c55a5;
    --botao-inativo: rgb(172, 120, 194);
    --texto-fundo: rgba(84, 60, 90, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Marck Script',sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--roxo);
}

.botao {
    font-family: "Marck Script",sans-serif;
    background-color: var(--botao-inativo);
    color: var(--roxo);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;

    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botoes{
    display: block;
}

.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--branco);
}


    @media screen and (min-width:768px) {
        .botoes{
            display: flex;
        }

        .botao:first-child{
            border-radius: 40px 0 0 0;
        }

        .botao:last-child{
            border-radius: 0 40px 0 0;
        }
    }

    .abas-textos {
        background-color: var(--texto-fundo);
        padding: 40px;
        border-radius: 0 0 40px 40px;
    }
    
    .aba-conteudo.ativo {
        display: block;
    }
    
    .aba-conteudo {
        display: none;
    }
    
    .aba-conteudo-titulo-principal{
        font-size: 30px;
        text-align: center;
    }
    
    .aba-conteudo-titulo-secundario{
        text-align: center;
        color: var(--roxo);
        text-transform: uppercase;
    }
    .contador{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 30px;
        margin: 0;
        color: var(--roxo);
    }
