@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root{
    --cor-de-fundo: linear-gradient(rgb(162, 91, 255), rgb(94, 6, 145), rgb(219, 192, 255));
    --roxo: #9b3ce9;
    --branco: #FFFFFF;
    --botao-ativo: #8b3097;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'caveat',sans-serif;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    font-family: "Caveat",sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;

    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}

.botoes{
    display: block;
}

.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--roxo);
}

@media screen and (min-width:768px) {
    .botoes{
        display: flex;
    }

    .botao:first-child{
        border-radius: 40px 40px 0 0;
    }


    @media screen and (min-width:768px) {
        .botoes{
            display: flex;
        }

        .botao:first-child{
            border-radius: 40px 0 0 0;
        }

        .botao:last-child{
            border-radius: 0 40px 0 0;
        }
    }
        
}